numpy
scipy
pandas
matplotlib
pyyaml
tqdm

astropy
spectral-cube
radio_beam
reproject

scikit-image
scikit-learn
jsonschema
statsmodels

tensorflow>=2.14
torch
torchvision

pytest
pytest-xdist

ipython
jupyter
